body { /* Стиль для блока body */
    background: #2c2c2c;
}


img { /* Стиль для всех img */
    width: 55px; /* Размер фото */
    height: auto; /* Автоматически устанавливает размер ширину */
    float: left; /* Местоположение, left-значит текст будет слева */
    margin-left: -10px;
    color: #fff;
    font-size: 30px; /* Размер текста */
    margin-left: 1px;
    font-weight: bold; /* Жирность шрифта */
    position: relative; /* Задаёт позицию элементов относительно его нормального расположения */
    top: 5px; /* Отступ сверху */
    text-decoration: none;
}



main h1{
    float: left;
    color: #fff;
    margin-top: 10px;
    text-align: center; /* Позиция текста */
    width: 75%; /* Ширина */
    font-size: 50px;
}

main p {
    max-width: 700px;
    margin: 20px auto;
}

main button {
    transition: transform .6s ease; /* Для всех стилей добавляется плавность анимации */
}
main button:hover {
    transform: scale(1.05);
}
